*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.button {
  cursor: pointer;
}

body {
  background: #5a5a5a;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  letter-spacing: 0.02rem;
}

.header {
  background-color: #3a3a3a;
  z-index: 10;
}
.header__container {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__logo {
  width: 100px;
  height: 100px;
}
.header__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}
.header__button {
  background: none;
  border: none;
  color: white;
  padding: 0;
}

@media (min-width: 600px) {
  .header {
    position: sticky;
    overflow: visible;
    height: 100px;
  }
  .header__container {
    padding-block: 0;
    max-width: 80%;
    margin-inline: auto;
    flex-direction: row;
    align-items: flex-start;
  }
  .header__logo {
    position: relative;
    top: 0.5rem;
    width: 180px;
    height: 180px;
  }
  .header__list {
    position: relative;
    top: 38px;
    flex-direction: row;
    gap: 0;
  }
  .header__button {
    padding-inline: 1.25rem;
  }
  .header__button:nth-child(2) {
    border-inline: 1px solid white;
  }
}
.homepage {
  color: #3a3a3a;
}
.homepage__title {
  line-height: normal;
}
.homepage__subtext {
  font-style: italic;
}
.homepage__button {
  border: none;
  background: #df1d28;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.15);
  color: white;
  border-radius: 1.5em;
  font-weight: 700;
  padding-block: 0.5em;
  padding-inline: 1.5em;
}

@media (max-width: 599px) {
  .homepage__container {
    position: relative;
    background: #ecedef;
  }
  .homepage__content {
    width: 100%;
    background: rgb(236, 237, 239);
    background: linear-gradient(180deg, rgb(236, 237, 239) 75%, rgba(236, 237, 239, 0) 100%);
    position: absolute;
    padding-block: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    z-index: 5;
  }
  .homepage__title {
    font-size: 3rem;
  }
  .homepage__image-container {
    position: relative;
    top: 12.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .homepage__image--small {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }
}
@media (min-width: 600px) {
  .homepage {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homepage__container {
    padding-inline: 3rem;
    max-width: 1200px;
    position: relative;
  }
  .homepage__content {
    position: absolute;
    top: 20%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .homepage__title {
    font-size: 4rem;
  }
}
@media (min-width: 950px) {
  .homepage__container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .homepage__content {
    font-size: 1.5rem;
    gap: 2rem;
  }
  .homepage__title {
    font-size: 5rem;
  }
  .homepage__image-container {
    border-radius: 10px;
    overflow: hidden;
  }
}
.menu {
  padding-bottom: 1rem;
}
.menu__section {
  max-width: 1000px;
  margin-inline: auto;
}
.menu__section:nth-child(1) {
  padding-top: 3rem;
}
.menu__title {
  max-width: 75%;
  margin-inline: auto;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
}
.menu__container {
  margin-inline: auto;
  margin-block: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  justify-content: space-evenly;
  align-content: center;
}

.card {
  overflow: hidden;
  border-radius: 0.5rem;
  background: rgb(240, 235, 227);
  color: #3a3a3a;
  width: 300px;
  margin-bottom: 3rem;
  box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
.card__image-container {
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  margin: 1.5rem;
}
.card__title {
  font-size: 1.2rem;
}
.card__price {
  font-size: 2rem;
  font-weight: 700;
  padding-block: 0.5rem;
}

@media (min-width: 600px) {
  .menu__container {
    max-width: 650px;
  }
  .menu__title {
    font-size: 3rem;
  }
  .card {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 980px) {
  .menu__container {
    max-width: 1000px;
  }
}

/*# sourceMappingURL=template.css.map */
