.header {
  background-color: #3a3a3a;

  &__container {
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__logo {
    width: 100px;
    height: 100px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
  }

  &__button {
    background: none;
    border: none;
    color: white;
    padding: 0;
  }
}

@media (min-width: 600px) {
  .header {
    position: sticky;
    overflow: visible;
    height: 100px;

    &__container {
      padding-block: 0;
      max-width: 80%;
      margin-inline: auto;

      flex-direction: row;
      align-items: flex-start;
    }

    &__logo {
      position: relative;
      top: 0.5rem;
      width: 180px;
      height: 180px;
    }

    &__list {
      position: relative;
      top: 38px;

      flex-direction: row;
      gap: 0;
    }

    &__button {
      padding-inline: 1.25rem;

      &:nth-child(2) {
        border-inline: 1px solid white;
      }
    }
  }
}